<img src="{{receipe.imagePath}}" alt="" class="img-responsive" style="height: 300px">
<h1>{{ receipe.name}}</h1>
<div class="btn-group dropdown" appDropdown>
    <button class="btn btn-primary dropdown-toggle">Manage Receipe <span class="caret"></span></button>
    <div class="dropdown-menu">
        <a class="dropdown-item">To Shopping List</a>
        <a class="dropdown-item">Edit Receipe</a>
        <a class="dropdown-item">Delete Receipe</a>
    </div>
</div>
<div>
    {{receipe.description}}
</div>
<div class="row">
    <ul class="list-group">
        <a href="" class="list-group-item" *ngFor="let item of receipe.ingredients" style="cursor: pointer;">
            {{ item.name}}  ({{ item.amount}})
        </a>
    </ul>
</div>