<div class="row">
    <div class="col-xs-12">
        <div class="card clearfix row" style="cursor: pointer" [routerLink]="[index]" routerLinkActive="active">
            <div class="card-body">
                <div class="row" style="align-items: center;">
                    <div class="col">
                        <h4 class="card-title">{{receipeItem.name }}</h4>
                         <p class="card-text">{{ receipeItem.description }}</p>
                    </div>
                    <img class="card-img col-md-3" src="{{ receipeItem.imagePath }}" style="max-width: 100px;">
                </div>
            </div>
        </div>
    </div>
</div>
